*{
	margin:0px;
	padding: 0px;
}

div#contenedor{
	
	margin:auto;
	width: 800px;
	height: 900px;
	background-color: c9e7f9;
	
	
	
	
}

div#cabecera{
	
	float: center;
	width: autor;
	height: 100px;
	background-color: #cdf98d;
	/*border: double;*/
		
}

div#cuerpo{
	
	float: right;
	width: 800px;
	height: 750px;
	background-color: #f8f0fa;
	
}

div#pie{
	
	float: inherit;
	width: 800px;
	height: 59px;
	background-color: #cdf98d;	
	
}

p#parrafo1{
	float: left;
}

p#parrafo2{
	float: right;
}

p#social{
	float: right;
	
}